* {
	font-family: Verdana, Arial, sans-serif;
}

body {
	width: 90%;
	margin: 0 auto;
	/* background: url("images/CoreysBreakaway.jpg") no-repeat center center fixed;
	background-size: cover; */
	background-color: #ccccff;
}

.content {
	overflow: auto;
	height: 100%;
}

footer, header, .feature {
	text-align: center;
	margin: 0.5%;
}

header {
	font-style: italic;
}

.column1, .column2, .column3 {
	width: 49%;
	float: left;
	margin: 0.5%;
	text-align: left;
	background-color: #ffffe6;
	min-width: 360px;
	border-radius: 10px;
}

.column3 {
	margin-right: 0%;
}

nav, footer {
	background-color: transparent;
	padding: 0.25em;
}

article, .feature {
	height: 15em;
	margin-bottom: 0.5em;
	background-color: #ffffe6;
}

.feature {
	text-align: left;
	overflow: scroll;
}

.navitem {
	display: inline;
	padding: 1em;
	background-color: #ffcc66;
	text-transform: uppercase;
	min-width: 150px;
	border-style: outset;
	border-radius: 10px;
}

table {
	border: 2px ridge;
	border-collapse: collapse;
	width: 98%;
	margin: 5px 5px 5px 5px;
}

td, th {
	border: 2px ridge;
	padding: 5px;
}

th {
	font-weight: bold;
}

.newspic {
	height: 100%;
	float: left;
	margin-right: 0.5em;
}

#market, #races {
	font-size: 75%;
}

#add-item, #customize-races {
	padding: 10px;
}

#add-item-btn, #customize-search-btn {
	text-align: center;
}

label {
	float: left;
	width: 120px;
	text-align: right;
}
