* {
	font-family: Verdana;
}

body {
	width: 90%;
	margin: 0 auto;
	/* background: url("images/CoreysBreakaway.jpg") no-repeat center center fixed;
	background-size: cover; */
}

.content {
	overflow: auto;
	height: 100%;
}

nav, footer, header, .feature {
	text-align: center;
	margin: 1%;
	/* opacity: 0.7; */
}

.column1, .column2, .column3 {
	width: 31.3%;
	float: left;
	margin: 1%;
	text-align: left;
	/* opacity: 0.7; */
}

.column3 {
	margin-right: 0%;
}

nav, footer {
	background-color: #efefef;
	padding: 0.5em;
}

article, .feature {
	height: 20em;
	margin-bottom: 1em;
	background-color: #efefef;
}

li.navitem {
	display: inline;
	padding: 0.5em;
}

table {
	border: 2px ridge;
	border-collapse: collapse;
}

td {
	border: 2px ridge;
}